body{
    background-color: rgb(24,77,71);
}

section.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 1px black;
    background-color: rgb(165, 240, 197);
}